{% extends "base.html" %}
{% load static %}

{% block title %}
Shop - Frutable
{% endblock %}

{% block content %}

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Shop</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active text-white">Shop</li>
        </ol>
    </div>
    <!-- Single Page Header End -->

    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <form method="post">
                                {% csrf_token %}
                                <div class="input-group w-100 mx-auto d-flex">
                                    <input type="search" class="form-control p-3" value="" name="text" placeholder="Search">
                                    <button class="btn btn-outline-dark" type="submit" name="search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-xl-3">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                <label for="fruits">Default Sorting:</label>
                                <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                    <option value="volvo">Nothing</option>
                                    <option value="saab">Popularity</option>
                                    <option value="opel">Organic</option>
                                    <option value="audi">Fantastic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Categories</h4>
                                        <ul class="list-unstyled fruite-categorie">
                                            {% for row in sor %}
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a href="/{{row}}/">{{row}}</a>
                                                    {% if row == "Fruits" %}
                                                    <span>{{fru}}</span>
                                                    {% else %}
                                                    <span>{{vege}}</span>
                                                    {% endif %}
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 class="mb-2">Price</h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output><br>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Additional</h4>
                                        <form action="" method="post">
                                        {% for row in c %}
                                            <div class="mb-2">
                                                {% csrf_token %}
                                                <input type="radio" id="option1" name="choice" value="{{row.name}}">
                                                <label>{{row.name}}</label>
                                            </div>
                                        {% endfor %}
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 class="mb-3">Featured products</h4>
                                    {% for row in d %}
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <a href="#">
                                                <img src="{{row.image.url}}" class="img-fluid rounded" alt="">
                                            </a>
                                            
                                        </div>
                                        <div>
                                            <h6 class="mb-2">{{row.name}}</h6>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">Rs. {{row.price}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">
                                {% for row in a %}
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{row.cat}}</div>
                                        <div class="p-4 border border-left-1 rounded-bottom" style="height:500px;">
                                            <a href="{% url "product_detail" row.id %}">
                                                <img src="{{row.image.url}}" class="w-100 rounded-top" height="200px" alt="">
                                            </a>
                                            <h4 class="text-center mt-2">{{row.name}}</h4>
                                            <p class="text-center">{{row.discription}}</p>
                                            <div class="d-flex justify-content-center flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-2">Rs.{{row.price}} / {{row.weight}}</p>
                                                <a href="{% url "cart1" row.id %}" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->

{% endblock %}